# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  'atom-text-editor, .overlayer': [
    {
      'label': 'Cargo Test Runner'
      'submenu': [
        { label: 'Run Cargo tests', command: 'cargo-test-runner:run' }
        { label: 'Rerun Last Cargo Tests', command: 'cargo-test-runner:run-previous' }
      ]
    }
  ]

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Cargo Test Runner'
      'submenu': [
        { 'label': 'Run Tests', 'command': 'cargo-test-runner:run' },
        { 'label': 'Rerun Last Tests', 'command': 'cargo-test-runner:run-previous'}
      ]
    ]
  }
]
